*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 1248px;
    padding: 0 16px;
    margin: 0 auto;
}
ul, li{
    list-style: none;
}
span, a, p, button, input{
    color: inherit;
    border: none;
    text-decoration: none;
}